<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="post" action="/register">
        <input type="text" name="username" placeholder="Enter Your Name ">
        <input type="text" name="mobile" placeholder="Enter ur mobile number">
        <input type="text" name="email" placeholder="Enter Your Email">
        <input type="text" name="password" placeholder="Enter Your Password">
        <button>Submit</button>
    </form>
</body>
</html>